<div class="title-style">{{ section.settings.title }}</div>
<div class="card-container">
  {% for block in section.blocks %}
    {% assign product = block.settings.product %}
    <div class="card">
      <div class="img-box-3">
        <img
          src="{{ product.featured_image | img_url: '200x200' }}"
          loading="lazy"
          width="200"
          height="200"
          alt="{{ product.title }}"
          class="picks-img"
        />
      </div>
      <div class="card-content">
        <div class="card-title">{{ product.title }}</div>
        <div class="subtext-5">{{ product.description | truncate: 100 }}</div>
        <div class="cta-btn-5">
          <a href="{{ product.url }}" class="label-style-8">Shop Now →</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% schema %}
{
  "name": "Most-Popular",
  "tag": "section",
  "class": "most-popular",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Most Popular Tech Picks"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Product Card",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Most-Popular",
      "category": "Custom",
      "blocks": [
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}