  <img
    src="{{ section.settings.top_image | img_url: '608x' }}"
    loading="lazy"
    width="608"
    height="400"
    alt="{{ section.settings.top_image.alt | escape }}"
    srcset="
      {{ section.settings.top_image | img_url: '500x' }} 500w,
      {{ section.settings.top_image | img_url: '608x' }} 608w
    "
    sizes="(max-width: 608px) 100vw, 608px"
    class="img-top"
  />
  
  <div class="image-box">
    {% for block in section.blocks %}
      <img
        src="{{ block.settings.image | img_url: '608x' }}"
        loading="lazy"
        width="auto"
        height="auto"
        alt="{{ block.settings.image.alt | escape }}"
        
        class="img img-h"
      />
    {% endfor %}
  </div>
  
  <div class="indicators-2">
    <div class="dot-17"></div>
  </div>
  
  <div class="contents-2">
    <div class="card-content-3">
      <div class="sec-headline">
        {{ section.settings.headline }}
      </div>
      <div class="sec-subtext">
        {{ section.settings.subtext }}
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Product Gallery",
  "tag": "section",
  "class": "product-gallery ",
  "settings": [
    {
      "type": "image_picker",
      "id": "top_image",
      "label": "Top Image"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline",
      "default": "Seamless Integration into Your Daily Life"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subtext",
      "default": "Meet the next generation of eyewear. More than just a pair of glasses, these Smart Glasses are your personal assistant, music hub, and AR navigator—all in one sleek design."
    }
  ],
  "blocks": [
    {
      "type": "gallery_image",
      "name": "Gallery Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Gallery",
      "category": "Custom",
      "blocks": [
        {
          "type": "gallery_image"
        },
        {
          "type": "gallery_image"
        },
        {
          "type": "gallery_image"
        }
      ]
    }
  ]
}
{% endschema %}